@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  height:100%;
  margin:0px;
  padding:0px;
  font-style: normal;  
  background-color:#fff;
  display: flex;
  
  justify-content: center;  
  align-items: center;
}



*{
  text-rendering:optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
